.dashboard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;

    .map-container {
      display: flex;
      width:100%;
      align-content: center;
      justify-content: space-around;
    }

    .static-map{
      width: 500px;
      height: 500px;
      border-style: solid;
      align-content: center;
      border-width: 1px;
      margin-bottom: 20px;
    }

    .routes-index {
      display: block;
      flex-direction: column;
      // height: 100vh;
      // border: 1px solid black;


      .item-container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        border: 1px solid black;

        div{
          width: 100px;
        }

        .distance_box {
          text-align: center;
          width: 100px;
          border-left: 1px solid black;
          }

        .index-img {
          height: 100px;
          width:  100px;
        }
        .route-index-item-details {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-grow: 0.7;
          align-content: center;
        }

      }
      .item-container:hover{
        cursor: pointer;
        border: 1px solid blue;
      }
    }
    button{
      bottom:0;
    }
}
