.dashboard {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 75%;

    .static-map{
      width: 500px;
      height: 500px;
      float: left;
      position: relative;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 20px;
    }

    .routes-index {
      display: block;
      flex-direction: column;
      // height: 100vh;
      // border: 1px solid black;

      .h2{
        text-align: center;
      }

      .item-container {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;

        div{
          width: 100px;
        }

        .distance_box {
          text-align: center;
          width: 100px;
          margin-right: 20px;
          margin-left: 10px;
          border: 1px solid black;
          }

        .index-img {
          height: 100px;
          width:  100px;
        }
        .route-index-item-details {
          text-align: center;
          justify-content: center;
          align-content: center;
        }

      }
    }
}
