// Place all the styles related to the api/routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.distance_box {
  text-align: center;
  width: 110px;
  margin-right: 20px;
  padding: 20px 0;
  border: 1px solid black;
}

.route-detail {
  display: flex;
  background-color: white;
  justify-content: space-around;
}
