  .splash {
    display: flex;
    text-align: center;
    width:100%;
    flex-direction: column;

  }

  .logo-container{
    display: flex;
    align-items: flex-start;
  }

  .logo {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px black;
  }
