// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-list{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;
  height: 300px;
  background-color: white;
}

.user-item{
   width: 80%;
   height: 75px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row;
   height: 125px;
   border: 2px solid #ccc;
   border-radius: 5px;
  //  margin: 2% 2% 2% 2%;
  .follow-button{
    width: 75px;
  }
}

.input {
  align-content: center;
}
